<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Sign in page for User Dashboard">
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<h1>Welcome</h1>
			{% if messages %}
			<div>
				{% for message in messages %}
				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
				<p>{{message}}</p>
				    </div>
				    <div>
                {% endif %}
            {% endfor %}

            {% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}	
			<p>{{message}}</p>

                {% endif %}
            {% endfor %}
            </div>
			{% endif %}
			<div id="left">
			<h2>Register</h2>
	<form class="form-vertical" action="{% url 'login:register' %}" method="post">
			{% csrf_token %}
			<div class="form-group">
		<label class="col-sm-4-control-label">First Name: 
	<div class="col-sm-10">
		<input type="text" name="f_name" class="form-control"></label>
	</div>
		<div class="form-group">
		<label class="col-sm-4-control-label">Last Name: 
	<div class="col-sm-10">
		<input type="text" name="l_name" class="form-control"></label>
	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2-control-label">User Name: 
	<div class="col-sm-10">
		<input type="text" name="user_name" class="form-control"></label>
	</div>
	</div>
	<div class="form group">
		<label class="col-sm-2-control-label">Email: 
	<div class="col-sm-12">
		<input type="text" name="email" class="form-control"></label>
	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2-control-label">Password: 
	<div class="col-sm-10">
		<input type="password" name="pass"class="form-control"></label>
	</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2-control-label">Confirm Password: 
	<div class="col-sm-10">
		<input type="password" name="cpass" class="form-control"></label>
	</div>
	</div>
	  <div class="form-group">
                <label class="col-sm-2-control-label">Date of Birth(format YYYY-MM-DD):
        <div class="col-sm-10">
                <input type="date" name="dob" class="form-control"></label>
        </div>
        </div>

		<input type="hidden" name="action" value="register">
		<button class="btn btn-default" id="submitbutton" type=" submit" name="submit" value="Register"></button>
	</form>
</div>	
	<div id="right">
        	<h2>Log In</h2>
        <form class="form-horizontal" action="{% url 'login:login' %}" method="post">
         {% csrf_token %}
	<div class="form-group">
		<label class="col-2-sm-control-label">Email: 
	<div class="col-sm-10">
		<input type="text" name="email"></label>
	</div>
	</div>
	<div class="form-group">
		<label class="col-2-sm-control-label">Password: 
	<div class="col-sm-10">
		<input type="password" name="pass"></label>
	</div>
	</div>
		<input type="hidden" name="action" value="login">
		<input class="btn btn-default" id="submitbutton" type="submit" name="submit" value="Login">
	</form>
	</div>
	</body>
</html>
